{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Cosmeticos Intimos</h1>

<p style="text-align: justify;">Seleção exclusiva de produtos de cuidados pessoais para intensificar o prazer e o bem-estar. 
    Com itens cuidadosamente selecionados, nossa categoria abrange desde lubrificantes 
    e géis estimulantes até cremes e óleos sensuais, todos desenvolvidos para proporcionar experiências únicas e momentos de intimidade de forma segura e confortável.</p>



<div class="container-fluid mt-4 px-5">
    <div class="row justify-content-center" >
      {% for produto in cosmeticos %}
        <div class="col-md-5th p-2"> 
          <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
            <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
            <div class="card-body">
              <h5 class="card-title ">{{ produto.name }}</h5>
              <p class="card-text" style=" padding: 0rem; color: black; width: 100%;" ><span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228) ;">R$ {{ produto.selling_price }}</span> no PIX  ou Cartão em ate 12x sem juros</p>
              <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>  


  <style>

  .card-img-top {
    width: 300px; /* Largura fixa */
    height: 250px; /* Altura fixa */
    /* Garante que a imagem mantenha proporção sem deformar  object-fit: cover; */
  }

    @media (min-width: 992px) { /* Para telas grandes (PC e notebooks) */
        .col-md-5th {
            width: 18%; /* Divide a linha em 5 colunas */

        }
    }

    @media (max-width: 991px) { /* Para tablets */
        .col-md-5th {
            width: 50%; /* Mostra 2 cards por linha */
        }
    }

    @media (max-width: 576px) { /* Para celulares */
        .col-md-5th {
            width: 100%; /* Mostra 1 card por linha */
        }
    }

    .playfair-display ,h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    font-size: 2.7rem;
    color: #fff;
   
  }

  .roboto, p {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.2rem;
  color: #fff;
  }

  h1, p{
    padding: 2rem;
  }

  p{
    width: 70%;
  }
</style>
{% endblock %}