{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{% block titulo %}Título Padrão{% endblock %}</h1>

<div class="descricao">
    <p>{% block descricao %}Descrição padrão da categoria.{% endblock %}</p>
</div>


<style>

    .playfair-display ,h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    font-size: 2.7rem;
    color: #fff;
   
  }

  .roboto, p {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.2rem;
  color: #fff;
  }
</style>
{% endblock %}