{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static 'images/slide1.png'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{%static 'images/slide2at.png'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{%static 'images/slide2.png'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

<style>   
  .carousel-inner img {
    height: 400px; /* ajustar para o valor desejado */
   /*object-fit: cover; Mantém a proporção da imagem e preenche o container */
  }
</style>
</div>

<div  class="barraCarrossel d-flex align-items-center text-white  d-block w-100">
  <h3 >Entrega rapida e discreta</h3> <i class="bi bi-box2-heart-fill" style="font-size: 4.3rem; padding-left:3rem; padding-right: 10rem;"></i>
  <h3>Compra 100% segura</h3> <i class="bi bi-file-earmark-lock" style="font-size: 4.3rem; padding-left: 3rem;  padding-right: 10rem;"></i> 
  <h3>Parcele em ate 12 X</h3> <i class="bi bi-credit-card" style="font-size: 4.3rem; padding-left: 3rem;"></i>
</div>

<style>   
  .barraCarrossel{
    background-color: #523563;
    padding-left: 15rem;
    padding-right: 15rem;
    font-family: 'Notable', sans-serif;
    font-weight: bold;
    align-items: center;

  }


</style>

<div class="d-flex align-items-center ">
  <i class="bi bi-balloon-heart" style="font-size: 3rem; color: #fff; padding-left: 1rem; "></i> <h2 style="color: #fff; padding-left: 1rem; padding-top: 1rem;"> Seleção mais vendidos</h2>
</div>

<div class="container-fluid mt-4 px-5">
  <div class="row justify-content-center" >
    {% for produto in produto|slice:":10" %}
      <div class="col-md-5th p-2"> 
        <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
          <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
          <div class="card-body">
            <h5 class="card-title playfair-display">{{ produto.name }}</h5>
            <p class="card-text" ><span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228) ;">R$ {{ produto.selling_price }}</span> no PIX  ou Cartão em ate 12x sem juros</p>
            <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



<div  class="ofertasSemana  text-white  d-block w-100">
  <div class="row">
    <div class="col-md-4">
      <h1>OFERTAS DA SEMANA</h1>
      <p style="padding-left: 3rem;  width: 100%; text-align: justify;">Aproveite nossas oferta exclusivas  da semana!
        Selecionamos  os  produtos mais   desejados  com  descontos imperdíveis para você!
        Seleção especial dos produtos mais desejados, agora com descontos imperdíveis. 
        Queremos que você aproveite ao máximo esta oportunidade para adquirir seus itens favoritos com preços reduzidos.
      </p>

      <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 2rem;">
        <a href="{% url 'oferta_list'%}" class="btn text-white" style="border-color: #fff; border-radius: 1rem; font-weight: bold;">CONHECER PRODUTOS</a>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="row">
        {% for produto in ofertasdasemana|slice:":3" %}  <!-- Apenas 3 produtos -->
          <div class="col-md-4 p-4"> <!-- p-4 espaco entre cards -->
            <div class="card" style="width: 100%; display: flex; flex-wrap: wrap; margin-bottom: 1rem; margin-left: 8rem; margin-top: 1rem;">
              <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
              <div class="card-body">
                <h5 class="card-title playfair-display">{{ produto.name }}</h5>
                <p class="card-text">
                  <span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228);">
                    R$ {{ produto.selling_price }}
                  </span> 
                  no PIX ou Cartão em até 12x sem juros
                </p>
                <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid mt-4 px-5">
  <div class="row justify-content-center" >
    {% for produto in vibradores|slice:":5" %}
      <div class="col-md-5th p-2"> 
        <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
          <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
          <div class="card-body">
            <h5 class="card-title playfair-display">{{ produto.name }}</h5>
            <p class="card-text" ><span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228) ;">R$ {{ produto.selling_price }}</span> no PIX  ou Cartão em ate 12x sem juros</p>
            <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class="novidadesLacamentos text-white  d-block w-100">
  <div class="row">
    <div class="col-md-4" style="background-color: #990CA6; border-radius: 1rem;">
      <h1 style="padding-top: 5rem;">Novidades e Lacamentos</h1>
      <p>Descubra as últimas novidades e lançamentos que acabaram de chegar em nossa loja!
        Estamos empolgados em anunciar que a nossa loja está repleta de novidades e lançamentos incríveis que acabaram de chegar! 
        A nossa equipe trabalhou arduamente para selecionar uma variedade de produtos que certamente irão encantar você. </p>
        <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 2rem;"> 
          <a href="{% url 'novidade_list'%}" class="btn text-white" style="border-color: #fff; border-radius: 1rem; font-weight: bold;">CONHECER PRODUTOS</a>
        </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        {% for produto in novidadeslacamentos|slice:":3" %}  <!-- Apenas 3 produtos -->
          <div class="col-md-4 p-4"> <!-- p-4 espaco entre cards -->
            <div class="card" style="width: 100%; display: flex; flex-wrap: wrap; margin-bottom: 1rem; margin-left: 8rem; margin-top: 1rem;">
              <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
              <div class="card-body">
                <h5 class="card-title playfair-display">{{ produto.name }}</h5>
                <p class="card-text">
                  <span style="font-weight: bold; font-size: 1.3rem;  color:rgb(192, 13, 228);">
                    R$ {{ produto.selling_price }}
                  </span> 
                  no PIX ou Cartão em até 12x sem juros
                </p>
                <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid mt-4 px-5">
  <div class="row justify-content-center" >
    {% for produto in acessorios|slice:":5" %}
      <div class="col-md-5th p-2"> 
        <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
          <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
          <div class="card-body">
            <h5 class="card-title playfair-display">{{ produto.name }}</h5>
            <p class="card-text" ><span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228) ;">R$ {{ produto.selling_price }}</span> no PIX  ou Cartão em ate 12x sem juros</p>
            <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container-fluid mt-4 px-5">
  <div class="row justify-content-center" >
    {% for produto in Lubrificantes|slice:":5" %}
      <div class="col-md-5th p-2"> 
        <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
          <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
          <div class="card-body">
            <h5 class="card-title playfair-display">{{ produto.name }}</h5>
            <p class="card-text " ><span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228) ;">R$ {{ produto.selling_price }}</span> no PIX  ou Cartão em ate 12x sem juros</p>
            <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class="container-fluid mt-4 px-5" style="margin-left: 2rem;">
  <div class="row justify-content-center">
    <!-- Card 1 -->
    <div class="col-md-3th col-sm-12 p-2">
      <div class="card" style="background-color: #990CA6;">
        <h1 class="card-title text-white text-center py-4" style=" height: 10rem; display: flex; flex-direction: column; justify-content: space-between;">Bem-estar Feminino</h1>
        <img src="{% static 'images/vibradoresLinhas.png' %}" class="card-img-top" style="width: 90%; padding-left: 3rem; " alt="...">
        <div class="card-body">
          <p class="card-text  text-white">Explore nossa seleção de vibradores projetados para proporcionar prazer e confortos</p>
          <a href="{% url 'feminina_list' %}" class="btn text-white d-flex justify-content-center" style="border-color: #fff; border-radius: 1rem; font-weight: bold;  margin-bottom: 1rem;">Conhecer Produtos</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-3th col-sm-12 p-2">
      <div class="card" style="background-color: #990CA6;">
        <h1 class="card-title text-white text-center py-4" style=" height: 10rem; display: flex; flex-direction: column; justify-content: space-between;">Estilo & Conforto</h1>
        <img src="{% static 'images/produto 10.png' %}"  class="card-img-top "  style="width: 90%; padding-left: 3rem;" alt="...">
        <div class="card-body " >
          <p class="card-text text-white">Descubra nossa coleção de lingeries sensuais e elegantes</p>
          <a href="{% url 'estilo_list' %}" class="btn text-white d-flex justify-content-center" style="border-color: #fff; border-radius: 1rem; font-weight: bold;  margin-bottom: 1rem;">Conhecer Produtos</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-3th col-sm-12 p-2">
      <div class="card" style="background-color: #990CA6;">
        <h1 class="card-title text-white text-center py-4" style=" height: 10rem; display: flex; flex-direction: column; justify-content: space-between;">Acessórios</h1>
        <img src="{%static 'images/acessoriosLinhas.png' %}" class="card-img-top" style="width: 90%; padding-left: 3rem;" alt="...">
        <div class="card-body">
          <p class="card-text  text-white">Encontre os acessórios perfeitos para complementar sua experiência.</p>
          <a href="{% url 'acessorios_list' %}" class="btn text-white d-flex justify-content-center" style="border-color: #fff; border-radius: 1rem; font-weight: bold; margin-bottom: 1rem;">Conhecer Produtos</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4 px-5">
  <div class="row justify-content-center" >
    {% for produto in produto|slice:":5" %}
      <div class="col-md-5th p-2"> 
        <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
          <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
          <div class="card-body " >
            <h5 class="card-title playfair-display">{{ produto.name }}</h5>
            <p class="card-text" ><span style="font-weight: bold; font-size: 1.3rem; color:rgb(192, 13, 228) ;">R$ {{ produto.selling_price }}</span> no PIX  ou Cartão em ate 12x sem juros</p>
            <a href="{% url 'produto_detalhe' produto.id %}" class="btn text-white" style="background-color: rgb(228, 93, 255); font-weight: bold;">COMPRAR</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
    .card-img-top {
    width: 300px; /* Largura fixa */
    height: 250px; /* Altura fixa */
    /* Garante que a imagem mantenha proporção sem deformar  object-fit: cover; */
  }

    @media (min-width: 992px) { /* Para telas grandes (PC e notebooks) */
        .col-md-5th {
            width: 18%; /* Divide a linha em 5 colunas */

        }
    }

    @media (max-width: 991px) { /* Para tablets */
        .col-md-5th {
            width: 50%; /* Mostra 2 cards por linha */
        }
    }

    @media (max-width: 576px) { /* Para celulares */
        .col-md-5th {
            width: 100%; /* Mostra 1 card por linha */
        }
    }


    @media (min-width: 992px) { /* Para telas grandes (PC e notebooks) */
        .col-md-3th {
            width: 28%; /* Divide a linha em 5 colunas */

        }
    }

    @media (max-width: 576px) { /* Para celulares */
        .col-md-3th {
            width: 100%; /* Mostra 1 card por linha */
        }
    }
  .playfair-display .ofertasSemana .novidadesLacamentos, h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    font-size: 3.5rem;
    
  }

  .playfair-display ,h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    font-size: 2.5rem;
   
    
  }


  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    font-size: 1.5rem;
   
    
  }
  .roboto, p {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.2rem;
  }

  .card {
   margin-right: 5rem;
   margin-top: 1rem;

   }
   
   .ofertasSemana{
    background-color: #990CA6;
    h1 {
      padding: 3rem;
    }
 
  }

   .novidadesLacamentos{
    h1{
      padding: 2rem;
      padding-bottom: 3rem;
    }

    .linha-estilistica {
    border: 5px;
    height: 3px;
    background: #fff; /* Gradiente de cores */
    margin: 20px 0; /* Espaçamento superior e inferior */
    width: 35rem;
    }
    p{
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
      text-align: justify;
    }
  }
</style>
{% endblock %}


