{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-4 px-5 " >
    <div class="row justify-content-left" >
        <div class="col-md-5th p-2"> 
          <div class="card"  style="width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
            <img src="{{ produto.image.url }}" class="card-img-top" style="width: 100%;" alt="{{ produto.name }}">
        </div>
    </div>
    <div class="col-md-7th " > 
        <h1>{{ produto.name }}</h1>
        <h2>Preço: R$ {{ produto.selling_price }}</h2>
        <p>Descrição: {{ produto.description }}</p>
        
         <!-- Seletor de quantidade -->
         <form method="POST" action="{% url 'adicionar_ao_carrinho' produto.id %}">
            {% csrf_token %}
            <div class="d-flex align-items-center" style="padding-bottom: 3rem; padding-top: 3rem;">
                <label for="quantidade" class="me-2 text-white">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" 
                       min="1" value="1" class="form-control text-center" style="width: 50px; height: 35px; padding: 5px; ">
            </div>

            <!-- Botão de adicionar ao carrinho -->
            <div class="d-flex flex-column mt-3 mb-3">
                <!-- Botão "Adicionar ao Carrinho" (Não redireciona) -->
                <button type="submit" class="btn btn-outline-primary mb-4" style="width: 20rem; background-color: #E0BA3C; color: black; font-weight: bold;">
                    🛒 Adicionar ao Carrinho
                </button>
        
                <!-- Botão "Comprar Agora" (Redireciona para o carrinho) -->
                <button type="submit" name="comprar_agora" value="true" class="btn btn-success" style="width: 20rem; background-color: #FFFF2B; color: black; font-weight: bold;">
                    ⚡ Comprar Agora
                </button>
            </div>
        </form>
    </div>
  </div>
</div>








<style>
    @media (min-width: 992px) {
    .col-md-7th{
        width: 50%;
    }
}


    .card-img-top {
       /* Largura fixa */
      height: 500px; /* Altura fixa */
      /* Garante que a imagem mantenha proporção sem deformar  object-fit: cover; */
    }
  
      @media (min-width: 992px) { /* Para telas grandes (PC e notebooks) */
          .col-md-5th {
              width: 27%; /* Divide a linha em 5 colunas */
  
          }
      }
  
      @media (max-width: 991px) { /* Para tablets */
          .col-md-5th {
              width: 50%; /* Mostra 2 cards por linha */
          }
      }
  
      @media (max-width: 576px) { /* Para celulares */
          .col-md-5th {
              width: 100%; /* Mostra 1 card por linha */
          }
      }
  
      .playfair-display ,h1{
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: bold;
      font-size: 2.7rem;
      color: #fff;
     
    }
  
    .playfair-display ,h2{
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: bold;
      font-size: 2.0rem;
      color: #fff;
      padding-top: 3rem;
     
    }
  
    .roboto, p {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 1.2rem;
    color: #fff;
    padding-top: 2rem;
    }
  

  
    p{
      width: 70%;
    }
</style>

{% endblock %}