<div class="row">
    {% for produto in produto %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 shadow">
                <!-- Imagem do produto -->
                {% if produto.image %}
                <!-- <img src="{{ produto.image.url }}" class="card-img-top" alt="Imagem de {{ produto.name }}"> --> 
                {% else %}
                   <!--<img src="/static/images/produto 3.png" class="card-img-top" alt="Imagem padrão do produto">--> 
                {% endif %}

                <!-- Detalhes do produto -->
                <div class="card-body">
                    <h5 class="card-title">{{ produto.name }}</h5>
                    <p class="card-text">
                        <strong>Marca:</strong> {{ produto.brand }}<br>
                        <strong>Categoria:</strong> {{ produto.category }}<br>
                        <strong>Preço:</strong> R$ {{ produto.selling_price }}<br>
                        <strong>Quantidade:</strong> {{ produto.quantity }}
                    </p>
                    <p class="card-text">
                        {{ produto.description|truncatewords:15 }}
                    </p>
                </div>
    {% empty %}
        <!-- Mensagem caso não haja produtos -->
        <div class="col-12">
            <p class="text-center text-muted">Nenhum produto disponível no momento.</p>
        </div>
    {% endfor %}
</div>

