{% load static %}
<footer class="footer mt-auto py-3 text-center">

  <div class="d-block d-flex">
    <div class="container">
      <h4>Contatos</h4>
      <hr class="linha-estilistica">
      <div class="text-white">
        <a href="#" ><i class="bi bi-telephone-fill d-flex align-items-center d-block"></i><span>61 99999-0000</span></a>
        <a href="#" ><i class="bi bi-whatsapp"></i><span>61 99999-0000</span></a>
        <a href="#" ><i class="bi bi-envelope"></i><span>tita@gmail.com</span></a>
      </div>
    </div>

    <div class="container">
      <h4>Informacoes</h4>
      <hr class="linha-estilistica">
          <span>Quem Somos</span>
          <span>Prazos e Formas de Entrega</span>
          <span>Trocas e Devoluções</span>
          <span>Formas de Pagamento</span>
          <span>Política de Privacidade</span>
          <span>Termos e Condições</span>
    </div>

    <div class="container">
      <h4>Redes socias</h4>
      <hr class="linha-estilistica">
      <p>Siga-nos em nossas redes socias:</p>
      <div class="d-flex " style="padding-right: 0.5rem; margin-left: 13rem; margin-top: 3rem;">
      <a href="#"><i class="bi bi-instagram" style="font-size: 3rem; padding-right: 2rem;"></i></a>
      <a href="#"><i class="bi bi-whatsapp" style="font-size: 3rem; padding-right: 2rem;"></i></a>
      <a href="#"><i class="bi bi-tiktok" style="font-size: 3rem;"></i></a>
      </div>
    </div>
  </div>

</footer>

<style>
   footer {
    background-color: #990CA6;
    color:#fff;
   }

   span{
    display: block;
    margin-top: 2rem;
    
   }
   h4{
    margin-top: 2rem;
   }

   a{
    text-decoration: none;
    color: #fff;
    display: block;
    align-items: center;
   }
  .linha-estilistica {
    border: 5px;
    height: 3px;
    background: #fff; /* Gradiente de cores */
    margin: 20px 0; /* Espaçamento superior e inferior */
    width: 35rem;
  }

  .icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaço entre cada linha de contato */
  }
</style>