{% load static %}
<footer class="footer mt-auto py-3 text-center">
  <div class="container-fluid">
    <div class="row"> <!-- Mantém tudo alinhado horizontalmente -->
      
      <!-- Coluna Contatos -->
      <div class="col-md-4 ">
        <h4>Contatos</h4>
        <hr class="linha-estilistica">
        <div class="text-white d-flex flex-column gap-2 align-items-center">
          <a href="#" class="d-flex align-items-center gap-2"  >
            <i class="bi bi-telephone-fill"></i>
            <span>99999-0000</span>
          </a>
          <a href="#" class="d-flex align-items-center gap-2">
            <i class="bi bi-whatsapp"></i>
            <span>61 99999-0000</span>
          </a>
          <a href="#" class="d-flex align-items-center gap-2">
            <i class="bi bi-envelope"></i>
            <span>tita@gmail.com</span>
          </a>
        </div>
      </div>

      <!-- Coluna Informações -->
      <div class="col-md-4">
        <h4>Informações</h4>
        <hr class="linha-estilistica">
        <div class="d-flex flex-column gap-1">
          <span>Quem Somos</span>
          <span>Prazos e Formas de Entrega</span>
          <span>Trocas e Devoluções</span>
          <span>Formas de Pagamento</span>
          <span>Política de Privacidade</span>
          <span>Termos e Condições</span>
        </div>
      </div>

      <!-- Coluna Redes Sociais -->
      <div class="col-md-4">
        <h4>Redes sociais</h4>
        <hr class="linha-estilistica">
        <p style="color: #fff;">Siga-nos em nossas redes sociais:</p>
        <div class="d-flex justify-content-center gap-3 mt-3">
          <a href="https://www.instagram.com/"><i class="bi bi-instagram" style="font-size: 3rem;"></i></a>
          <a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp" style="font-size: 3rem;"></i></a>
          <a href="https://www.tiktok.com/"><i class="bi bi-tiktok" style="font-size: 3rem;"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>

<style>

   .bi{
    margin-top: 2rem;
   }
   footer{
    background-color: #990CA6;
    color:#fff;
   }

   span{
    display: block;
    margin-top: 2rem;
    
   }
   h4{
    margin-top: 2rem;
   }

   a{
    text-decoration: none;
    color: #fff;
    align-items: center;
   }
  .linha-estilistica {
    border: 5px;
    height: 3px;
    background: #fff; /* Gradiente de cores */
    margin: 20px 0; /* Espaçamento superior e inferior */
    width: 35rem;
  }

  .icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaço entre cada linha de contato */
  }
</style>